//colors
$primaryColor: #000;
$secondaryColor: #111;
$tertiaryColor: #222;
$accentColor: #333;

//Dimension
$widthHeader: 100%;
$heightHeader: 10rem;

$widthMain: 100%;
$heightMain: 15rem;

$widthFooter: 100%;
$heightFooter: 10rem;

